<!DOCTYPE HTML>
<html>
<head>
<title>Home</title>
<!-- Custom Theme files -->
<link href="/static/css/admin_css/style_1111.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="keywords" content="Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<link href='http://fonts.googleapis.com/css?family=Roboto:500,900italic,900,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<!--Google Fonts-->
</head>
<body>
<div class="login">
	<div class="login-top">
		<h1>登录</h1>
		<form action="/ur_admin/index" method="POST" data-animate-effect="fadeInRight" accept-charset="utf-8" enctype="multipart/form-data">
			<input type="text" id="username" placeholder="用户名"  name="username" value="用户名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'User Id';}">
			<input type="password" id="userpswd" placeholder="密码"  name="userpswd" value="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'password';}">

	    <div class="forgot">
	    	<a href="forgot.html">忘记密码</a>
	    	<input type="submit" value="Login" >
	    </div>
        </form>
	</div>
	<div class="login-bottom">
		<h3>新用户 &nbsp;<a href="sign-up.html">注册</a>&nbsp 点此</h3>
	</div>
</div>	
<div class="copyright">
	<p>Copyright &copy; 2017.KennyLiu All rights reserved。</p>
</div>


</body>
</html>